@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model B1Site.Models.CustomerStatement.MasterViewCustomerStatement;
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Dev-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.1.3/js/dx.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <link href="~/css/CustomerStatement.css" rel="stylesheet" />
</head>
<style>
    .widget-loadscreen {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: rgba(0,0,0,0.15);
    }

    .btn.btn-kernel {
        font-size: 12px;
        font-family: Arial;
        background-color: #f2e8c5;
        border: 0px;
        color: black;
    }

    .btn-kernel, .btn-primary {
        margin-top: 32px;
        margin-right: 15%;
        float: right;
    }

    .btn {
        display: inline-block;
        height: auto;
        padding: 0 0px;
        min-height: 25px;
    }

    .btn {
        padding: 7px;
        min-width: 50px;
    }

    .input_datefrom, .input_dateto, .input_user, .input_branch {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        min-width: 100%;
        height: 34px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        border-radius: 3px;
    }

    .lable_branch, .lable_datefrom, .lable_dateto, .lable_user {
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
    }

    label {
        margin-bottom: 0px;
        line-height: 20px;
    }
</style>
<div class="content-header" style="padding-bottom:0px;">
    <div class="widget-loadscreen" style="display: none;">
        <img src="~/image/loading.gif">
    </div>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localizer["Report"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="SaleDialyReport">@localizer["Customer Statement"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Reporting"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="container-fluid" style="padding: 15px;">
    <div class="card">
        <div class="card-header" style="background-color: #0000001A;">
            <h2>@localizer["Customer Statement"]</h2>
        </div>
        <div class="card-body" style="background-color:lightblue;">
            <!--Filter-->
            <div class="row">
                <div class="col-6">
                    <div class="mb-4 row">
                        <label for="lable_datefrom" class="col-sm-12 col-md-4 col-lg-4 agingDate font" style="margin-left:10%">@localizer["Aging Date :"]</label>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <input type="date" class="input_datefrom" id="agingdatecustomersatement">
                        </div>
                    </div>
                    @*<div class="row">*@                  
                </div>
                <div class="col-6">
                    <div class="mb-4 row">
                        <label for="lable_customerid" class="col-sm-12 col-md-4 col-lg-4 Customer font" style="margin-left:10%">@localizer["Customer :"]</label>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <select type="" class="input_branch" id="customercusstatment">
                                <option value="0">All Customer</option>
                                @{
                                    foreach (var a in Model.CustomerMasters)
                                    {
                                        <option value="@a.CardCode">@a.Customer</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mr-2">
                        <button class="btn btn-xs btn-kernel" id="btnRunReportcustomerstaement"float:right;margin-right:30%">@localizer["Filter"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!--End Filter-->
            <!--Bind Data to Grid-->
            <div class="container mt-3">
                <div class="row">
                     <div class="col-12">
                            <div class="demo-container">
                                  <div id="gridContainer"></div>
                            </div>
                      </div>
                </div>
            </div>
                <!--End Bind Data to Grid-->
<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = mm + '/' + dd + '/' + yyyy;
    //loadReport(today, today);
    filterData();
    $('#btnRunReportcustomerstaement').click(function () {
        var agingdate = ifToDo($('#agingdatecustomersatement')).val();
        var customer = ifToDo($('#customercusstatment')).val();
        loadReport(agingdate,customer);
    });
    function filterData() {
        var agingdate = today;
        var customer = ifToDo($('#customercusstatment')).val();
        //if (datefrom == '' || datefrom==null) {
        //    datefrom = today;
        ////}
        //if (dateto == '' || dateto == null) {
        //    dateto = today;
        //}
        loadReport(agingdate,customer);
    }
    function ifToDo(condition) {
        if (condition.val() == '' || condition.val() == 0 || condition.val() == undefined || condition.val() == null) {
            return "";
        } else {
            return condition.val();
        }
    }
    function loadReport(agingdate, customer) {
        console.log(customer);
        //let btn_filter = $(button).children("i.fa-search");
        $.ajax({
            url: '@Url.Action("GetCustomerStatement", "CustomerStatement")',
            type: "GET",
            data: { customer : customer, agingdate :agingdate},
            dataType: "JSON",
            beforeSend: function () {
                //btn_filter.addClass("fa-spinner fa-spin");
            },
            success: function (data) {
                console.log(data)
                $("#gridContainer").dxDataGrid({
                    dataSource: data,
                    columnAutoWidth: true,
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    showBorders: true,
                    scrolling: {
                        columnRenderingMode: "virtual"
                    },
                    export: {
                        enabled: true,
                    },
                    onExporting: function (e) {
                        var workbook = new ExcelJS.Workbook();
                        var worksheet = workbook.addWorksheet('CustomerSatement');

                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet: worksheet,
                            autoFilterEnabled: true
                        }).then(function () {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Customer Statement.xlsx');
                            });
                        });
                        e.cancel = true;
                    },
                    onToolbarPreparing: function (e) {
                        var dataGrid = e.component;
                        e.toolbarOptions.items.unshift({
                            location: "before",
                            template: function () {
                                return
                            }
                        },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "refresh",
                                    onClick: function () {
                                        dataGrid.refresh();
                                        filterData();
                                    }
                                }
                            },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "fas fa-file-pdf",
                                    onClick: function () {
                                        printPdf();
                                    }
                                },
                                title: 'Export to PDF'
                            }
                        );
                    },
                    summary: {
                        totalItems: [{
                            column: "CardCode",
                            summaryType: "count"
                        }, {
                            column: "Price",
                            summaryType: "sum"
                        }
                        ]
                    },
                    columns: [
                            {
                                dataField: "CardCode",
                                caption: "CardCode"
                            },
                            {
                                dataField: "CardName",
                                caption: "CardName"
                            },

                            {
                                dataField: "Region",
                                caption: "Region"
                            },
                            {
                                dataField: "DocType",
                                caption: "DocType"
                            },
                            {
                                dataField: "GroupName",
                                caption: "GroupName"
                            },
                            {
                                dataField: "SLPName",
                                caption: "SLPName"
                            },
                            {
                                dataField: "SysInvoice",
                                caption: "SysInvoice
                            },
                            {
                                dataField: "DO",
                                caption: "DO"
                            },
                            {
                                dataField: "Invoice",
                                caption: "Invoice"
                            },
                              {
                            dataField: "InvDate",
                            caption:"InvDate",
                            //alignment: "right",
                            dataType: "date",
                            //width: 120,
                            calculateFilterExpression: function (value, selectedFilterOperations, target) {
                                if (target === "headerFilter" && value === "weekends") {
                                    return [[getOrderDay, "=", 0], "or", [getOrderDay, "=", 6]];
                                }
                                return this.defaultCalculateFilterExpression.apply(this, arguments);
                            },

                            headerFilter: {
                                dataSource: function (data) {
                                    data.dataSource.postProcess = function (results) {
                                        results.push({
                                            text: "Weekends",
                                            value: "weekends"
                                        });
                                        return results;
                                    };

                                }
                            }

                            },
                            {
                                dataField: "Term",
                                caption: "Term"
                            },
                            {
                                dataField: " Age",
                                caption: " Age"
                            },
                            {
                                dataField: "Total",
                                caption: "Total"
                            },
                            {
                                dataField: "Current",
                                caption: "Current"
                            },
                            {
                                dataField: "ThirtyFirst_To_Sixty_Days",
                                caption: "ThirtyFirst_To_Sixty_Days"
                            },
                            {
                                dataField: "SixtyFirst_To_Ninety_Days",
                                caption: "SixtyFirst_To_Ninety_Days"
                            },
                            {
                                dataField: "NinetyFirst_To_OneHundredTwenty_Days",
                                caption: "NinetyFirst_To_OneHundredTwenty_Days"
                        },
                        {
                            dataField: "OneHundredTwentyOne_Untill_Days",
                            caption: "OneHundredTwentyOne_Untill_Days"
                        },
                        {
                            dataField: "ItemGroup",
                            caption: "ItemGroup"
                        },
                        {
                            dataField: "Model",
                            caption: "Model"
                        },
                        {
                            dataField: "DocNum",
                            caption: "DocNum"
                        },
                        {
                            dataField: "Type",
                            caption: "Type"
                        },
                    ],

                });
                //btn_filter.removeClass("fa-spinner fa-spin");
            }
        });
    }
</script>
