@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model B1Site.Models.ItemProfitAndLost.MasterViewItemProfitAndLostReport;
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Dev-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.1.3/js/dx.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <!--End Dev-->
</head>
<style>
    .widget-loadscreen {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: rgba(0,0,0,0.15);
    }

    .btn.btn-kernel {
        font-size: 12px;
        font-family: Arial;
        background-color: #f2e8c5;
        border: 0px;
        color: black;
    }

    .btn-kernel, .btn-primary {
        margin-top: 32px;
    }

    .btn {
        display: inline-block;
        height: auto;
        padding: 0 0px;
        min-height: 25px;
    }

    .btn {
        padding: 7px;
        min-width: 50px;
    }

    .input_datefrom, .input_dateto, .input_user, .input_combobox {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        min-width: 100%;
        height: 34px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        border-radius: 3px;
    }

    .lable_caption, .lable_datefrom, .lable_dateto, .lable_user {
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
    }

    label {
        margin-bottom: 0px;
        line-height: 20px;
    }
</style>
<div class="content-header" style="padding-bottom:0px;">
    <div class="widget-loadscreen" style="display: none;">
        <img src="~/image/loading.gif">
    </div>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localizer["Report"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="ItemProfitAndLost">@localizer["SaleDailyReport"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Reporting"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="container" style="padding: 15px;padding-top:0px;">
    <div class="card">
        <div class="card-header">
            @localizer["ItemProfitAndLost"]
        </div>
        <div class="card-body">
            <!--Filter-->
            <div class="row">
                <div class="col-md-2">
                    <label class="lable_datefrom">@localizer["DateFrom"]</label>
                    <input type="date" class="input_datefrom" id="datefrom" />
                </div>
                <div class="col-md-2">
                    <label class="lable_dateto">@localizer["DateTo"]</label>
                    <input type="date" class="input_datefrom" id="dateto" />
                </div>
                <div class="col-md-2">
                    <label class="lable_caption">@localizer["ByItemGroup"]</label>
                    <select typeof="text" class="input_combobox" id="byItemGroup">
                        <option value="0">All ItemGroup</option>
                        @{
                            foreach (var a in Model.itemGroupMasters)
                            {
                                <option value="@a.ItemGroup">@a.ItemGroup</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_caption">@localizer["BySalePerson"]</label>
                    <select typeof="text" class="input_combobox" id="bySaleMan">
                        <option value="0">ALL SalePerson</option>
                        @{
                            foreach (var a in Model.salePerson)
                            {
                                <option value="@a.SlpCode">@a.SlpName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-xs btn-kernel" id="btnRunReport">@localizer["Run"]</button>
                </div>

                <div class="col-md-2">
                    <label class="lable_caption">@localizer["ByCategory"]</label>
                    <select typeof="text" class="input_combobox" id="byCategory">
                        <option class="0">ALl Category</option>
                        @{
                            foreach (var a in Model.itemCategories)
                            {
                                <option value="@a.Category">@a.Category</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_caption">@localizer["ByInventoryUoM"]</label>
                    <select typeof="text" class="input_combobox" id="byInventoryUoM">
                        <option class="0">All InventoryUoM</option>
                        @{
                            foreach (var a in Model.inventoryUOMs)
                            {
                                <option value="@a.UoM">@a.UoM</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_caption">@localizer["ByItemCode"]</label>
                    <select typeof="text" class="input_combobox" id="byItemCode">
                        <option class="0">ALl Items Master Data</option>
                        @{
                            foreach (var a in Model.itemCodeMasters)
                            {
                                <option value="@a.ItemCode">@a.ItemName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_caption">@localizer["ByCardCode"]</label>
                    <select typeof="text" class="input_combobox" id="byCardCode">
                        <option class="0">ALL BP Master Data</option>
                        @{
                            foreach (var a in Model.bPCodeMasters)
                            {
                                <option value="@a.BPCode">@a.BPName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_caption">@localizer["BySource"]</label>
                    <select typeof="text" class="input_combobox" id="bySource">
                        <option class="0">ALl Source</option>
                        @{
                            foreach (var a in Model.itemSources)
                            {
                                <option value="@a.Source">@a.Source</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <!--End Filter Report-->
            <!--Load Panel-->
            <div class="loadpanel"></div>
            <!--End Load Panel-->
            <!--Bind Data To Grid-->
            <div class="container mt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="demo-container">
                            <div id="gridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Binding Data to Grid-->
        </div>
    </div>
</div>


<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = mm + '/' + dd + '/' + yyyy;
 /*   alert($('#byItemGroup').val());*/
    loadReport(today, today);
    $('#btnRunReport').click(function () {
        var datefrom = $('#datefrom').val();
        var dateto = $('#dateto').val();
        if (datefrom == '' || datefrom == null) {
            datefrom = today;
        }
        if (dateto == '' || dateto == null) {
            dateto = today;
        }
        var byItemGroup = ifToDo($('#byItemGroup'));
        var bySaleEmployee = ifToDo($('#bySaleMan'));
        var byCategory = ifToDo($('#byCategory'));
        var byInventoryUoM = ifToDo($('#byInventoryUoM'));
        var byItemCode = ifToDo($('#byItemCode'));
        var byCardCode = ifToDo($('#byCardCode'));
        var bySource = ifToDo($('#bySource'));
        alert(byItemGroup);
        loadReport(datefrom, dateto, byItemGroup, bySaleEmployee, byCategory,
            byInventoryUoM, byItemCode, byCardCode, bySource);        
    });
    function filterData() {
        var datefrom = $('#datefrom').val();
        var dateto = $('#dateto').val();
        if (datefrom == '' || datefrom==null) {
            datefrom = today;
        }
        if (dateto == '' || dateto == null) {
            dateto = today;
        }
        var byItemGroup = ifToDo($('#byItemGroup'));
        var bySaleEmployee = ifToDo($('#bySaleMan'));
        var byCategory = ifToDo($('#byCategory'));
        var byInventoryUoM = ifToDo($('#byInventoryUoM'));
        var byItemCode = ifToDo($('#byItemCode'));
        var byCardCode = ifToDo($('#byCardCode'));
        var bySource = ifToDo($('#bySource'));        
            loadReport(datefrom, dateto, byItemGroup, bySaleEmployee, byCategory,
            byInventoryUoM, byItemCode, byCardCode, bySource);        
     
    }
    function ifToDo(condition) {
        if (condition.val() == '' || condition.val() == 0 || condition.val() == undefined || condition.val() == null) {
            return "";
        } else {
            return condition.val();
        }
    }
    function loadReport(datefrom, dateto, byItemGroup, bySaleEmployee, byCategory,
        byInventoryUoM, byItemCode, byCardCode, bySource) {
        var loadPanel = $(".loadpanel").dxLoadPanel({
            shadingColor: "rgba(0,0,0,0.4)",
            position: { of: "#gridContainer" },
            visible: false,
            showIndicator: true,
            showPane: true,
            shading: false,
            closeOnOutsideClick: false,
        }).dxLoadPanel("instance");
        $.ajax({
            url: '@Url.Action("GetItemProfitAndLost", "ItemProfitAndLost")',
            type: "GET",
            data: {
                datefrom: datefrom,
                dateto: dateto,
                byItemGroup: byItemGroup,
                bySaleEmployee: bySaleEmployee,
                byCategory: byCategory,
                byInventoryUoM: byInventoryUoM,
                byItemCode: byItemCode,
                byCardCode: byCardCode,
                bySource: bySource
            },
            dataType: "JSON",
            beforeSend: function () {
                loadPanel.show();
            },
            success: function (data) {
                loadPanel.hide();
                alert("HI"+byItemGroup+"HELLO");
                $("#gridContainer").dxDataGrid({
                    dataSource: data,
                    loadPanel: {
                        enabled: true
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnResizingMode: "nextColumn",
                    columnMinWidth: 50,
                    columnAutoWidth: true,
                    columnAutoWidth: true,
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    showBorders: true,
                    scrolling: {
                        columnRenderingMode: "virtual"
                    },
                    export: {
                        enabled: true,
                    },
                    paging: {
                        pageSize: 10
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [5, 10, 20, 50, 100],
                        showInfo: true
                    },
                    groupPanel: {
                        visible: false
                    },
                    onExporting: function (e) {
                        var workbook = new ExcelJS.Workbook();
                        var worksheet = workbook.addWorksheet('SaleReport');

                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet: worksheet,
                            autoFilterEnabled: true
                        }).then(function () {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'SaleDailyReport.xlsx');
                            });
                        });
                        e.cancel = true;
                    },
                    onToolbarPreparing: function (e) {
                        var dataGrid = e.component;
                        e.toolbarOptions.items.unshift({
                            location: "before",
                            template: function () {
                                return
                            }
                        },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "refresh",
                                    onClick: function () {
                                        dataGrid.refresh();
                                        filterData();
                                    }
                                }
                            },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "fas fa-file-pdf",
                                    onClick: function () {
                                        printPdf();
                                    }
                                },
                                title: 'Export to PDF'
                            }
                        );
                    },
                    summary: {
                        totalItems: [
                            {
                                column: "CardCode",
                                summaryType: "count"
                            }, {
                                column: "Price",
                                displayFormat: "{0}$",
                                summaryType: "sum",
                                format: {
                                    type: "decimal",
                                    precision: 3
                                }
                            }
                        ]
                    },
                    columns: [
                        {
                            dataField: "No",
                            caption: "#No"
                        },
                        {
                            dataField: "CardCode",
                            caption: "Customer Code"
                        },
                        {
                            dataField: "CardName",
                            caption: "Customer Name"
                        },
                        {
                            dataField: "BPGroup",
                            caption: "Customer Group"
                        },
                        {
                            dataField: "BPCategory",
                            caption: "Customer Category"
                        },
                        {
                            dataField: "Grade",
                            caption:"Customer Grade"
                        },
                        {
                            dataField: "Region",
                            caption: "Region"
                        },
                        {
                            dataField: "SalePerson",
                            caption: "Sale Person"
                        },
                        {
                            dataField: "InvDate",
                            caption: "Invoice Date "
                        },
                        {
                            dataField: "Group",
                            caption: "Group"
                        },
                        {
                            dataField: "ItemGroup",
                            caption: "Items Group "
                        },
                        {
                            dataField: "Items Code",
                            caption: "ItemCode"
                        },
                        {
                            dataField: "ItemCode",
                            caption: "Items Code "
                        },
                        {
                            dataField: "Description",
                            caption: "Description"
                        },
                        {
                            dataField: "Source",
                            caption: "Source"
                        },
                        {
                            dataField: "Category",
                            caption: "Category"
                        },
                        {
                            dataField: "SubCategory",
                            caption: "Sub Category "
                        },
                        {
                            dataField: "Movement",
                            caption: "Movement"
                        },
                        {
                            dataField: "Codition",
                            caption: "Codition"
                        },
                        {
                            dataField: "Year",
                            caption: "Year"
                        },
                        {
                            dataField: "Promotion",
                            caption: "Promotion"
                        },
                        {
                            dataField: "Warranty",
                            caption: "Warranty"
                        },
                        {
                            dataField: "Quantity",
                            caption: "Quantity"
                        },
                        {
                            dataField: "Price",
                            caption: "Price"
                        },
                        {
                            dataField: "Discount",
                            caption: "Discount"
                        },
                        {
                            dataField: "NetAmount",
                            caption: "NetAmount"
                        },
                        {
                            dataField: "TotalAmount",
                            caption: "Total Amount"
                        },
                        {
                            dataField: "TotalDiscount",
                            caption: "Total Discount"
                        },
                        {
                            dataField: "TotalNetAmount",
                            caption: "Total NetAmount"
                        },
                        {
                            dataField: "COGS",
                            caption: "COGS"
                        },
                        {
                            dataField: "GrossProfit",
                            caption: "Gross Profit"
                        },
                        {
                            dataField: "Margin",
                            caption: "Margin"
                        },
                        {
                            dataField: "SONum",
                            caption: "SO Num"
                        },
                        {
                            dataField: "Shipment",
                            caption: "Shipment"
                        },
                        {
                            dataField: "InvoiceNo",
                            caption: "Invoice No"
                        },
                        {
                            dataField: "Status",
                            caption: "Status"
                        },
                        {
                            dataField: "UoM",
                            caption: "UoM"
                        },
                        {
                            dataField: "Location",
                            caption: "Location"
                        },
                        {
                            dataField: "Warehouse",
                            caption: "Warehouse"
                        },
                        {
                            dataField: "Department",
                            caption: "Department"
                        },
                    ],
                });
                //btn_filter.removeClass("fa-spinner fa-spin");
            }
        });
    }
</script>