@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model B1Site.Models.InventoryReport.MasterViewInventoryReport;
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Dev-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.1.3/js/dx.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <!--End Dev-->
</head>
<style>
    .widget-loadscreen {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: rgba(0,0,0,0.15);
    }

    .btn.btn-kernel {
        font-size: 12px;
        font-family: Arial;
        background-color: #f2e8c5;
        border: 0px;
        color: black;
    }

    .btn-kernel, .btn-primary {
        margin-top: 32px;
    }

    .btn {
        display: inline-block;
        height: auto;
        padding: 0 0px;
        min-height: 25px;
    }

    .btn {
        padding: 7px;
        min-width: 50px;
    }

    .input_datefrom, .input_dateto, .input_user, .input_branch {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        min-width: 100%;
        height: 34px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        border-radius: 3px;
    }

    .lable_branch, .lable_datefrom, .lable_dateto, .lable_user {
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
    }

    label {
        margin-bottom: 0px;
        line-height: 20px;
    }
</style>
<div class="content-header" style="padding-bottom:0px;">
    <div class="widget-loadscreen" style="display: none;">
        <img src="~/image/loading.gif">
    </div>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localizer["Report"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="SaleDialyReport">@localizer["InventoryReport"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Reporting"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="container" style="padding: 15px;padding-top:0px;">
    <div class="card">
        <div class="card-header" style="background-color:antiquewhite;">
            @localizer["InventoryReport"]
        </div>
        <div class="card-body" style="background-color:lightblue;">
            <!--Filter-->
            <div class="row">
                <div class="col-md-2">
                    <label class="lable_datefrom">@localizer["Date From"]</label>
                    <input type="date" class="input_datefrom" id="datefrominv">
                </div>
                <div class="col-md-2">
                    <label class="lable_datefrom">@localizer["Date To"]</label>
                    <input type="date" class="input_datefrom" id="datetoinv">
                </div>
                <div class="col-md-2">
                    <label class="lable_branch">@localizer["By Item Code"]</label>
                    <select type="text" class="input_branch" id="byItemCode">
                        <option value="0">All ItemCode</option>
                        @{
                            foreach (var a in Model.ItemCodeMasters)
                            {
                                <option value="@a.ItemCode">@a.ItemCode</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_branch">@localizer["By Main Group"]</label>
                    <select type="text" class="input_branch" id="byMainGroup">
                        <option value="0">All MainGroup</option>
                        @{
                            foreach (var a in Model.MainGroupMasters)
                            {
                                <option value="@a.MainGroup">@a.MainGroup</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-4 ">
                    <button class="btn btn-xs btn-kernel" id="btnruninventory">@localizer["Filter"]</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="lable_branch">@localizer["By Category"]</label>
                    <select type="text" class="input_branch" id="byCategory">
                        <option value="0">All Category</option>
                        @{
                            foreach (var a in Model.CategoryMasters)
                            {
                                <option value="@a.Category">@a.Category</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_branch">@localizer["By Sub Category"]</label>
                    <select type="text" class="input_branch" id="bySub-Category">
                        <option value="0">ALL SubCategory</option>
                        @{
                            foreach (var a in Model.SubCategoryMasters)
                            {
                                <option value="@a.SubCategory"> @a.SubCategory</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_branch">@localizer["By Source"]</label>
                    <select type="text" class="input_branch" id="bySource">
                        <option value="0"> All Source</option>
                        @{
                            foreach (var a in Model.SourceMasters)
                            {
                                <option value="@a.Source"> @a.Source</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="lable_branch">@localizer["By Measure"]</label>
                    <select type="text" class="input_branch" id="byMeasure">
                        <option value="0"> All Measure</option>
                        @{
                            foreach (var a in Model.MeasureMasters)
                            {
                                <option value="@a.Measure">@a.Measure</option>
                            }

                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="lable_branch">@localizer["By Warehouse ID"]</label>
                    <select type="text" class="input_branch" id="byWarehouseID">
                        <option value="0">All Warehouse</option>
                        @{
                            foreach (var a in Model.WarehouseMasters)
                            {
                                <option value="@a.Warehouse">@a.Warehouse</option>
                            }

                        }
                    </select>
                </div>
            </div>
            <!--End Filter-->
            <!--Bind Data to Grid-->
            <div class="container mt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="demo-container">
                            <div id="gridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Bind Data to Grid-->
        </div>
    </div>
</div>

<script>

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = mm + '/' + dd + '/' + yyyy;
    loadReport(today, today);
    $('#btnruninventory').click(function () {
        var datefrom = $('#datefrominv').val();
        var dateto = $('#datetoinv').val();
        var itemcode = $('#byItemCode').val();
        var mainGroup = $('#byMainGroup').val();
        var category = $('#byCategory').val();
        var SubCategory = $('#bySub-Category').val();
        var source = $('#bySource').val();
        var measure = $('#byMeasure').val();
        var warehouse = $('#byWarehouseID').val();
        loadReport(datefrom, dateto, itemcode, mainGroup, category, SubCategory, source, measure, warehouse);
       // alert("Report Run Success");
        //alert(warehouse);
    });
    function filterData(button) {
        var datefrom = $('#datefrominv').val();
        var dateto = $('#datetoinv').val();
        var itemcode = $('#byItemCode').val();
        var mainGroup = $('#byMainGroup').val();
        var category = $('#byCategory').val();
        var subCategory = $('#bySub-Category').val();
        var source = $('#bySource').val();
        var measure = $('#byMeasure').val();
        var warehouse = $('#byWarehouseID').val();
        if (datefrom == '' || datefrom==null) {
            datefrom = today;
        }
        if (dateto == '' || dateto == null) {
            dateto = today;
        }
        if (itemcode == 0 || itemcode == undefined){
            itemcode==''
        }
        if (mainGroup == 0 || mainGroup == undefined) {
            mainGroup==''
        }
        if (category == 0 || category == undefined) {
            category == ''
        }
        if (subCategory == 0 || subCategory == undefined) {
            subCategory == ''
        }
        if (source == 0 || source == undefined) {
            source == ''
        }
        if (measure == 0 || measure == undefined) {
            measure == ''
        }
        if (warehouse == 0 || warehouse == undefined) {
            warehouse == ''
        }
        loadReport(datefrom, dateto, itemcode, mainGroup, category,subCategory,source, measure,warehouse);
    }
    function loadReport(datefrom, dateto, itemcode, mainGroup, category, subCategory, source, measure, warehouse) {
        //let btn_filter = $(button).children("i.fa-search");
        $.ajax({
            url: '@Url.Action("GetInventoryReport", "InventoryReport")',
            type: "GET",
            data: { datefrom: datefrom, dateto: dateto, itemcode: itemcode, mainGroups: mainGroup, categorys: category, subcategorys: subCategory, sources: source, measures: measure, warehouses:warehouse},
            dataType: "JSON",
            beforeSend: function () {
                //btn_filter.addClass("fa-spinner fa-spin");
            },
            success: function (data) {
                $("#gridContainer").dxDataGrid({
                    dataSource: data,
                    columnAutoWidth: true,
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    showBorders: true,
                    scrolling: {
                        columnRenderingMode: "virtual"
                    },
                    export: {
                        enabled: true,
                    },
                    onExporting: function (e) {
                        var workbook = new ExcelJS.Workbook();
                        var worksheet = workbook.addWorksheet('InventoryReport');

                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet: worksheet,
                            autoFilterEnabled: true
                        }).then(function () {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'SInventoryReport.xlsx');
                            });
                        });
                        e.cancel = true;
                    },
                    onToolbarPreparing: function (e) {
                        var dataGrid = e.component;
                        e.toolbarOptions.items.unshift({
                            location: "before",
                            template: function () {
                                return
                            }
                        },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "refresh",
                                    onClick: function () {
                                        dataGrid.refresh();
                                        filterData();
                                    }
                                }
                            },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "fas fa-file-pdf",
                                    onClick: function () {
                                        printPdf();
                                    }
                                },
                                title: 'Export to PDF'
                            }
                        );
                    },
                    summary: {
                        totalItems: [{
                            column: "ItemCode",
                            summaryType: "count"
                        },
                            {
                                column: "QTY",
                                summaryType: "sum"
                            }
                        ]
                    },
                    columns: [
                        {
                            dataField: "Row",
                            caption: "No"
                        },
                        {
                            dataField: "Group",
                            caption: "Group"
                        },
                        {
                            dataField: "ItemCode",
                            caption: "Item Code"
                        },
                        {
                            dataField: "vendorCode1",
                            caption: "Vendor Code1"
                        },
                        {
                            dataField: "description",
                            caption: "Description"
                        },
                        {
                            dataField: "Category",
                            caption: "Category"
                        },
                        {
                            dataField: "SubCategory",
                            caption: "Sub Category"
                        },
                        {
                            dataField: "Movement",
                            caption: "Movement"
                        },
                        {
                            dataField: "RetailPrice",
                            caption: "Retail Price"
                        },
                        {
                            dataField: "WholeSale",
                            caption: "Whole Sale"
                        },
                        {
                            dataField: "QTY",
                            caption: "QTY"
                        },
                        {
                            dataField: "Kng13",
                            caption: "KNG 13"
                        },
                        {
                            dataField: "Kng14",
                            caption: "KNG 14"
                        },
                        {
                            dataField: "Kng15",
                            caption: "KNG 15"
                        },
                        {
                            dataField: "Kng2",
                            caption: "KNG 2"
                        },
                        {
                            dataField: "Kngw5",
                            caption: "KNG5"
                        },
                        {
                            dataField: "Kngw3",
                            caption: "KNGW 3"
                        },
                        {
                            dataField: "Kng8",
                            caption: "KNG8"
                        },
                        {
                            dataField: "Kng9",
                            caption: "KNG 9"
                        },
                        {
                            dataField: "Kngfz1",
                            caption: "KNGFZ1"
                        },
                        {
                            dataField: "Kngfz2",
                            caption: "KNGZ2"
                        },
                        {
                            dataField: "Kngfz3",
                            caption: "KNGZ3"
                        },
                        {
                            dataField: "Kngfz4",
                            caption: "KNGZ4"
                        },
                        {
                            dataField: "Kngfz5",
                            caption: "KNGZ5"
                        },
                        {
                            dataField: "Kngfz6",
                            caption: "KNGZ6"
                        },
                        {
                            dataField: "Kngfz7",
                            caption: "KNGFZ7"
                        },
                        {
                            dataField: "Kngfz8",
                            caption: "KNGFZ8"
                        },
                        {
                            dataField: "Kngfz9",
                            caption: "KNGFZ9"
                        },
                        {
                            dataField: "Kngw1",
                            caption: "KNGW1"
                        },
                        {
                            dataField: "Kngw4",
                            caption: "KNGW4"
                        },
                        {
                            dataField: "Kngw5",
                            caption: "KNGW5"
                        },
                        {
                            dataField: "Kngw6",
                            caption: "KNGW6"
                        },
                    ],
                });
                //btn_filter.removeClass("fa-spinner fa-spin");
            }
        });
    }
</script>





