@model B1Site.Models.Home.MasterViewHome;
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link type="text/css" href="~/css/css.css" rel="Stylesheet" />
    <title>SAP BusinessOne</title>
    <script type="text/javascript">
        if (self != top) {
            top.location = self.location;
        }
    </script>
</head>
<body>
    <div id="login">
        <div class="floater login_floater"></div>
        <div class="clear center_box login_box_border">
            <div class="login_box">
                <div class="login_box_header">
                    <div class="login_box_header_logo"></div>
                    <div class="login_box_header_title"></div>
                    <div class="clear"></div>
                </div>
                <div class="login_split"></div>
                <div class="login_box_body">
                    <div class="login_pic"></div>
                    <div class="login_form">
                        <div class="login_table">
                            <div style="height: 20px"></div>
                            <table class="domain_layer" style="display: none">
                                <tr>
                                    <td width="30%">Domain User</td>
                                    <td width="70%"><input type="text" id="domain_user" value="" /></td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input type="password" id="domain_password" /></td>
                                </tr>
                            </table>

                            <table class="sbo_layer">
                                <tr>
                                    <td width="30%">Server</td>
                                    <td width="70%"><select id="sbo_dbserver"><option>SAPB1</option></select></td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>

                                        <input value="Refresh" id="refresh_company" type="button" style="width:66px" />
                                        <select id="databaseSAP" style="width:63%">
                                            @foreach (var a in Model.CompanyDatabases)
                                            {
                                                <option value="@a.DataBaseName">@a.DataBaseName</option>
                                            }
                                        </select>
                                        <input type="text" id="sbo_custom_company" style="display:none" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>User ID</td>
                                    <td><input type="text" id="Username" /></td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input type="password" id="Password" /></td>
                                </tr>

                            </table>
                            <div style="height: 20px;margin-top: 10px">
                                <input style="float:left" id="logon_by_domain" type="CHECKBOX" />
                                <div style="float: left;margin-top:5px">Log on with Windows Domain User</div>
                                <div style="float: right; width: 70px;">
                                    <input id="logon_sbo_btn" type="button" value="Log On" />
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div>
                            <div class="login_copyright" id="login_copyright"></div>
                            <div class="sap_logo"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay" style="display: none"></div>
    <div class="dialog_wrap" id="messagebox" style="display: none">
        <div class="floater"></div>
        <div class="clear center_box dialog">
            <div class="dialog_title">
                <div class="dialog_title_text">System Information</div>
                <div class="dialog_title_close"></div>
                <div class="clear"></div>
            </div>
            <div class="dialog_content" style="padding: 15px;"></div>
            <div class="dialog_footer">
                <div style="float: right;">
                    <input type="button" value="OK" />
                </div>
            </div>
        </div>
    </div>

    <div class="tooltip" id="tooltip" style="display: none"></div>
    <div class="waiting_overlay" style="display: none">
        <div class="floater"></div>
        <div class="clear center_box waiting_log"></div>
    </div>
</body>
<script type="text/javascript">
    document.getElementById("login_copyright").innerHTML = "Copyright &copy; " + new Date().getFullYear() + " SAP SE. All rights reserved.";
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
        @*var form = document.getElementsByClassName('needs-validation');
        var Validation = Array.prototype.filter.call(form, function (forms) {
        forms.addEventListener('submit', function (event) {
            if (forms.checkValidity() === false) {
                event.preventDefault();
            } else {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("GetLoginAdmin", "Home")',
                    type: 'GET',
                    dataType: 'JSON',
                    data: { userName: $('#Username').val(), password: $('#Password').val(), databaseSAP: $('#databaseSAP').val()},
                    success: function (data) {
                        console.log(data);
                        if (data.id != 0) {
                            window.location.href = '@Url.Action("Index", "Home")';
                        } else {
                            alert("login failed");
                        }
                    }
                });
            }
            forms.classList.add('was-validated');
        }, false)*@
            $('#logon_sbo_btn').click(function () {
                 $.ajax({
                    url: '@Url.Action("GetLoginAdmin", "Home")',
                    type: 'GET',
                    dataType: 'JSON',
                    data: { userName: $('#Username').val(), password: $('#Password').val(), databaseSAP: $('#databaseSAP').val()},
                    success: function (data) {
                        console.log(data);
                        if (data.id != 0) {
                            window.location.href = '@Url.Action("Index", "Home")';
                        } else {
                            alert("login failed");
                        }
                    }
                });
            });
</script>
</html>
