@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model List<B1Site.Models.Home.User>;
@{
    ViewData["Title"] = "UserList";
}
<head>
    <!--Dev-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.1.3/js/dx.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <!--End Dev-->
</head>
<div class="content-header" style="padding-bottom:0px;">
    <div class="widget-loadscreen" style="display: none;">
        <img src="~/image/loading.gif">
    </div>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localizer["List User"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="UserList" asp-controller="Home">@localizer["List User"]</a></li>
                    <li class="breadcrumb-item active">@localizer["User"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!--Load Panel-->
<div class="loadpanel"></div>
<!--End Load Panel-->
<!--Bind Data to Grid-->
<div class="container">
    <div class="card">
        <div class="card-body" style="padding: 10px 5px 10px 5px;">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="demo-container">
                            <div id="gridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Bind Data to Grid-->
<script>
    loadReport();
    function loadReport() {
        var loadPanel = $(".loadpanel").dxLoadPanel({
            shadingColor: "rgba(0,0,0,0.4)",
            position: { of: "#gridContainer" },
            visible: false,
            showIndicator: true,
            showPane: true,
            shading: false,
            closeOnOutsideClick: false,
        }).dxLoadPanel("instance");
        console.log(JSON.parse('@Html.Raw(Json.Serialize(Model))'));
        $("#gridContainer").dxDataGrid({
                    dataSource: JSON.parse('@Html.Raw(Json.Serialize(Model))'),
                    loadPanel: {
                        enabled: true
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnResizingMode: "nextColumn",
                    columnMinWidth: 50,
                    columnAutoWidth: true,
                    columnAutoWidth: true,
                    showBorders: true,
                    scrolling: {
                        columnRenderingMode: "virtual"
                    },
                    //export: {
                    //    enabled: true,
                    //},
                    paging: {
                        pageSize: 10
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [5, 10, 20, 50, 100],
                        showInfo: true
                    },
                    searchPanel: {
                        visible: true,
                        highlightCaseSensitive: true
                    },
                    groupPanel: {
                        visible: false
                    },
                    columns: [
                        {
                            dataField: "userID",
                            caption: "User ID"
                        },
                        {
                            dataField: "userName",
                            caption: "User Name"
                        },
                        {
                            dataField: "firstName",
                            caption: "First Name"
                        },
                        {
                            dataField: "lastName",
                            caption: "Last Name"
                        },
                        {
                    dataField: "department",
                    caption: "Department"
                },
                {
                    dataField: "phone",
                    caption: "Phone"
                },
            ],
            onToolbarPreparing: function (e) {
                var dataGrid = e.component;

                e.toolbarOptions.items.unshift({
                    location: "before",
                    widget: "dxButton",
                    options: {
                        text: "Create New",
                        width: 136,
                        onClick: function (e) {
                            window.location.href = '@Url.Action("CreateUser", "Home")';
                        }
                    }
                });
            }
                });
    }
</script>
