@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model B1Site.Models.SaleDailyReport.MasterViewSaleDailyReport;
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Dev-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.4.4/cldr/unresolved.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.1.3/js/dx.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <!--End Dev-->
</head>
<style>
    .widget-loadscreen {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: rgba(0,0,0,0.15);
    }

    .btn.btn-kernel {
        font-size: 12px;
        font-family: Arial;
        background-color: #f2e8c5;
        border: 0px;
        color: black;
    }

    .btn-kernel, .btn-primary {
        margin-top: 32px;
    }

    .btn {
        display: inline-block;
        height: auto;
        padding: 0 0px;
        min-height: 25px;
    }

    .btn {
        padding: 7px;
        min-width: 50px;
    }

    .input_datefrom, .input_dateto, .input_user, .input_branch {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        min-width: 100%;
        height: 34px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        border-radius: 3px;
    }

    .lable_branch, .lable_datefrom, .lable_dateto, .lable_user {
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
    }

    label {
        margin-bottom: 0px;
        line-height: 20px;
    }
</style>
<div class="content-header" style="padding-bottom:0px;">
    <div class="widget-loadscreen" style="display: none;">
        <img src="~/image/loading.gif">
    </div>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localizer["Report"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="SaleDialyReport">@localizer["Exspen Report"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Reporting"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="container" style="padding: 15px;padding-top:0px;">
    <div class="card">
        <div class="card-header">
            @localizer["Exspen Report"]
        </div>
        <div class="card-body">
            <!--Filter-->
            <div class="row">
                <div class="col-md-2">
                    <label class="lable_datefrom">@localizer["Date From"]</label>
                    <input type="date" class="input_datefrom" id="datefrom">
                </div>
                <div class="col-md-2">
                    <label class="lable_datefrom">@localizer["Date To"]</label>
                    <input type="date" class="input_datefrom" id="dateto">
                </div>
                <div class="col-md-4 ">
                    <button class="btn btn-xs btn-kernel" id="btnRunReport">@localizer["Filter"]</button>
                </div>
            </div>
            <!--End Filter-->
            <!--Load Panel-->
            <div class="loadpanel"></div>
            <!--End Load Panel-->
            <!--Bind Data to Grid-->
            <div class="container mt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="demo-container">
                            <div id="gridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Bind Data to Grid-->
        </div>
    </div>
</div>

<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = mm + '/' + dd + '/' + yyyy;
    loadReport(today, today);
    $('#btnRunReport').click(function () {
        var datefrom = $('#datefrom').val();
        var dateto = $('#dateto').val();
        if (datefrom == '' || datefrom == null) {
            datefrom = today;
        }
        if (dateto == '' || dateto == null) {
            dateto = today;
        }
        var byItemGroup = ifToDo($('#byItemGroup'));
        loadReport(datefrom, dateto);
    });
    function filterData() {
        var datefrom = $('#datefrom').val();
        var dateto = $('#dateto').val();
        if (datefrom == '' || datefrom==null) {
            datefrom = today;
        }
        if (dateto == '' || dateto == null) {
            dateto = today;
        }
        loadReport(datefrom, dateto);
    }
    function ifToDo(condition) {
        if (condition.val() == '' || condition.val() == 0 || condition.val() == undefined || condition.val() == null) {
            return "";
        } else {
            return condition.val();
        }
    }
    function loadReport(datefrom, dateto) {
        var loadPanel = $(".loadpanel").dxLoadPanel({
            shadingColor: "rgba(0,0,0,0.4)",
            position: { of: "#gridContainer" },
            visible: false,
            showIndicator: true,
            showPane: true,
            shading: false,
            closeOnOutsideClick: false,
        }).dxLoadPanel("instance");
        $.ajax({
            url: '@Url.Action("GetExspentReprotController", "ExpsentReport")',
            type: "GET",
            data: {
                datefrom: datefrom,
                dateto: dateto
            },
            dataType: "JSON",
            beforeSend: function () {
                loadPanel.show();
            },
            success: function (data) {
                loadPanel.hide();
                $("#gridContainer").dxDataGrid({
                    dataSource: data,
                    loadPanel: {
                        enabled: true
                    },
                    hoverStateEnabled: true,
                    allowColumnResizing: true,
                    columnResizingMode: "nextColumn",
                    columnMinWidth: 50,
                    columnAutoWidth: true,
                    columnAutoWidth: true,
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    headerFilter: {
                        visible: true
                    },
                    showBorders: true,
                    scrolling: {
                        columnRenderingMode: "virtual"
                    },
                    export: {
                        enabled: true,
                    },
                    paging: {
                        pageSize: 10
                    },
                    pager: {
                        showPageSizeSelector: true,
                        allowedPageSizes: [5, 10, 20, 50, 100],
                        showInfo: true
                    },
                    groupPanel: {
                        visible: false
                    },
                    onExporting: function (e) {
                        var workbook = new ExcelJS.Workbook();
                        var worksheet = workbook.addWorksheet('SaleReport');

                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet: worksheet,
                            autoFilterEnabled: true
                        }).then(function () {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'SaleDailyReport.xlsx');
                            });
                        });
                        e.cancel = true;
                    },
                    onToolbarPreparing: function (e) {
                        var dataGrid = e.component;
                        e.toolbarOptions.items.unshift({
                            location: "before",
                            template: function () {
                                return
                            }
                        },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "refresh",
                                    onClick: function () {
                                        dataGrid.refresh();
                                        filterData();
                                    }
                                }
                            },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "fas fa-file-pdf",
                                    onClick: function () {
                                        printPdf();
                                    }
                                },
                                title: 'Export to PDF'
                            }
                        );
                    },
                    summary: {
                        totalItems: [
                            {
                                column: "Docnum",
                                summaryType: "count"
                            }, {
                                column: "Debit",
                                displayFormat: "{0}$",
                                summaryType: "sum",
                                format: {
                                    type: "decimal",
                                    precision: 3
                                }
                            },
                            {
                                column: "Credit",
                                displayFormat: "{0}$",
                                summaryType: "sum",
                                format: {
                                    type: "decimal",
                                    precision: 3
                                }
                            }
                        ]
                    },
                    columns: [
                        {
                            dataField: "RefDate",
                            caption: "Date"
                        },
                        {
                            dataField: "SerialName",
                            caption: "Serial"
                        },
                        {
                            dataField: "Docnum",
                            caption: "Docnum"
                        },
                        {
                            dataField: "Number",
                            caption: "Number"
                        },
                        {
                            dataField: "Origion",
                            caption: "Type"
                        },
                        {
                            dataField: "ControlAcount",
                            caption: "Control Acct"
                        },
                        //{
                        //    dataField: "InvoiceDate",
                        //    caption:"InvoiceDate",
                        //    alignment: "right",
                        //    dataType: "date",
                        //    width: 120,
                        //    calculateFilterExpression: function (value, selectedFilterOperations, target) {
                        //        if (target === "headerFilter" && value === "weekends") {
                        //            return [[getOrderDay, "=", 0], "or", [getOrderDay, "=", 6]];
                        //        }
                        //        return this.defaultCalculateFilterExpression.apply(this, arguments);
                        //    },
                        //    headerFilter: {
                        //        dataSource: function (data) {
                        //            data.dataSource.postProcess = function (results) {
                        //                results.push({
                        //                    text: "Weekends",
                        //                    value: "weekends"
                        //                });
                        //                return results;
                        //            };
                        //        }
                        //    }
                        //},
                        {
                            dataField: "ControlAcountName",
                            caption: "Control Acct Name"
                        },
                        {
                            dataField: "Description",
                            caption: "Description"
                        },
                        {
                            dataField: "ExternalDocument",
                            caption: "External Document"
                        },
                        {
                            dataField: "InternalDocument",
                            caption: "Internal Document"
                        },
                        {
                            dataField: "CardCode",
                            caption: "CardCode",
                            format: { minimumSignificantDigits: 3, }
                        },
                        {
                            dataField: "GLAocuntABPCode",
                            caption: "G/L Acct/BP Code"
                        },
                        {
                            dataField: "CardName",
                            caption: "CardName"
                        },
                        {
                            dataField: "Itemsgroup",
                            caption: "Items group "
                        },
                        {
                            dataField: "Location",
                            caption: "Location"
                        },
                        {
                            dataField: "Department",
                            caption: "Department"
                        },
                        {
                            dataField: "Promotion",
                            caption: "Promotion"
                        },
                        {
                            dataField: "Debit",
                            caption: "Debit"
                        },
                        {
                            dataField: "Credit",
                            caption: "Credit"
                        },
                    ],
                });
                //btn_filter.removeClass("fa-spinner fa-spin");
            }
        });
    }
</script>
